@font-face {
  font-family: 'Oranienbaum', serif;
  src: url("../Oranienbaum-Regular.ttf");
  font-family: 'Fjalla One', sans-serif;
  font-family: 'Caladea', serif;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #e6e6e6;
  font-family: Fjalla One;
}

.container {
  width: 80%;
  margin: 0px auto;
}

.o {
  text-align: center;
  font-size: 3em;
  padding: 50px;
  color: #faa05a;
  text-shadow: 2px 2px #000;
}

#zaglavlje {
  position: relative;
  background-image: url("../img/learn.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 40.6em;
}

#zaglavlje nav {
  background-color: #010e17;
  padding: 20px;
  position: fixed;
  width: 100%;
  font-size: 20px;
  z-index: 1;
}

#zaglavlje header {
  position: absolute;
  left: 30%;
  top: 20%;
  padding: 7em 3em;
  border: 3px solid #fff;
  color: #010e17;
  background-color: grey;
  opacity: 0.8;
}

#zaglavlje header h1 {
  font-size: 2em;
  letter-spacing: 3px;
}

#zaglavlje header h1 #hi {
  font-size: 3em;
  color: #faa05a;
}

#zaglavlje header h2 {
  margin-top: 1em;
  color: #3c39f4;
}

ul {
  list-style-type: none;
}

ul, #skils, #about, #project .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

a {
  text-decoration: none;
  color: #faa05a;
}

a:hover {
  font-weight: bold;
}

#prvo, #drugo, #trece {
  padding-bottom: 6.25em;
}

#prvo #about p {
  font-size: 30px;
  width: 35%;
  font-family: Caladea;
}

#prvo #about #ime {
  color: #f06eaf;
}

#prvo #about #skul {
  color: #3c39f4;
}

#prvo #about figure {
  float: left;
  border: 2px solid #fff;
}

#drugo {
  background-color: lightgray;
}

#drugo .skup:hover .overlay {
  opacity: 0.9;
  border-radius: 20px 0px 20px 0px;
  -webkit-box-shadow: 2px 2px #000;
          box-shadow: 2px 2px #000;
}

#drugo .skup {
  width: 23%;
  position: relative;
}

#drugo .skup .blok {
  min-height: 200px;
  text-align: center;
  border: 1px solid;
  border-radius: 20px 0px 20px 0px;
  padding: 10px;
  background-color: #ffa8ed;
}

#drugo .skup .blok h3 {
  margin: 0.5vw;
  resize: 0.3vw;
}

#drugo .skup .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #ffa8ed;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

#drugo .skup .overlay .text {
  position: absolute;
  top: 55%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

#drugo .skup .overlay .text p {
  font-size: 6vw;
  font-weight: bold;
}

.proj {
  position: relative;
}

.proj .opis {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #37c8f0;
  opacity: 0;
}

.proj .opis p {
  padding: 0.4em;
}

.proj .opis .stil {
  font-size: 1em;
  font-weight: bold;
}

.proj:hover figure {
  border: 1px solid;
  opacity: 0.5;
}

.proj:hover .opis {
  opacity: 1;
}

footer {
  text-align: center;
}

table {
  margin: 0px auto;
}

table td, table input {
  width: 400px;
  padding: 5px;
  margin: 10px;
}
/*# sourceMappingURL=style.css.map */