@font-face {
  font-family: 'Oranienbaum', serif;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #f8f8f8;
  -webkit-animation: mymoves 10s infinite;
          animation: mymoves 10s infinite;
  font-family: Oranienbaum;
}

@-webkit-keyframes mymoves {
  to {
    background-color: #f8f8f8;
  }
  from {
    background-color: #beccc4;
  }
}

@keyframes mymoves {
  to {
    background-color: #f8f8f8;
  }
  from {
    background-color: #beccc4;
  }
}

.o {
  text-align: center;
  font-size: 3.5vw;
  font-weight: bold;
  padding: 2vw 0vw;
  text-shadow: 0.2vw 0.1vw #37ccf4;
  letter-spacing: 0.7vw;
  position: relative;
  -webkit-animation: mymove 2s;
          animation: mymove 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes mymove {
  from {
    top: 0vw;
  }
  to {
    top: 1.25vw;
  }
}

@keyframes mymove {
  from {
    top: 0vw;
  }
  to {
    top: 1.25vw;
  }
}

hr {
  width: 10%;
  margin: 0px auto;
  height: 0.3125em;
  background-color: #000;
  margin-bottom: 5vw;
}

ul {
  list-style-type: none;
}

.list, #skils, #about, #project, #contact, footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  font-weight: bold;
}

#prvo, #drugo, #trece, #cetvrto {
  padding-bottom: 5vw;
}

#zaglavlje {
  position: relative;
  background-image: url("../img/learn.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 40.6em;
}

#zaglavlje nav {
  background-color: #3e4841;
  padding: 1.5vw;
  position: fixed;
  width: 100%;
  font-size: 1.5vw;
  z-index: 1;
}

#zaglavlje nav a {
  color: #37ccf4;
}

#zaglavlje header {
  position: absolute;
  left: 30vw;
  top: 10vw;
  padding: 7em 3em;
  border: 3px solid #fff;
  color: #000;
  background-color: grey;
  opacity: 0.8;
}

#zaglavlje header h1 {
  font-size: 2vw;
  letter-spacing: 0.1em;
}

#zaglavlje header h1 #hi {
  text-shadow: 2px 2px #000;
  font-size: 7vw;
  color: #fda058;
}

#zaglavlje header h2 {
  margin-top: 1em;
  color: #3c39f4;
}

#zaglavlje #burger {
  display: none;
}

#prvo #about figure img {
  width: 35vw;
}

#prvo #about p {
  font-size: 2.2vw;
  width: 35vw;
  margin: 5vw 0vw;
}

#prvo #about #ime {
  color: #f06eaf;
}

#prvo #about #skul {
  color: #3c39f4;
}

#drugo {
  background-image: url("../img/bgg.jpg");
  background-attachment: fixed;
}

#drugo #skils {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#drugo #skils .skup:hover .overlay {
  opacity: 0.9;
  color: #3e4841;
}

#drugo #skils .skup {
  width: 23%;
  position: relative;
}

#drugo #skils .skup .blok {
  min-height: 18em;
  font-size: 1.3vw;
  text-align: center;
  border: 3px solid #37ccf4;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.445);
}

#drugo #skils .skup .blok i {
  font-size: 2vw;
}

#drugo #skils .skup .blok h3 {
  letter-spacing: 0.5vw;
  margin: 1vw;
  resize: 0.3vw;
  padding: 0.1em;
}

#drugo #skils .skup .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #37ccf4;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

#drugo #skils .skup .overlay .text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

#drugo #skils .skup .overlay .text p {
  font-size: 7vw;
  font-weight: bold;
}

.proj {
  border: 2px solid #3e4841;
}

.proj figure img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.proj figcaption {
  background-color: #3e4841;
  padding: 0.5vw;
  font-size: 1.2vw;
  font-weight: bold;
}

.proj figcaption .stil {
  color: #fda058;
  font-size: 1.5vw;
}

.proj figure img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

#cetvrto {
  background-image: url("../img/bgg.jpg");
  background-attachment: fixed;
}

#cetvrto #contact p {
  color: #f8f8f8;
  font-size: 2vw;
  margin-bottom: 2vw;
}

#cetvrto #contact #left form table {
  width: 100%;
}

#cetvrto #contact #left form table tbody td {
  width: 100%;
}

#cetvrto #contact #left form table tbody td input {
  margin: 5px 0px;
  padding: 1vw;
  width: 100%;
  border: 3px solid #37ccf4;
  caret-color: #37ccf4;
  font-size: 1.5vw;
}

#cetvrto #contact #left form table tbody td #poruka {
  height: 15vw;
}

#cetvrto #contact #left form table tbody td #dugme {
  float: right;
  width: 30%;
  background-color: #37ccf4;
  color: #3e4841;
  text-align: center;
  border-radius: 0.7vw;
  font-size: 2vw;
  padding: 1vw;
}

#cetvrto #contact #left form table tbody td #dugme:hover {
  color: #000;
}

#cetvrto #contact #right ul {
  padding: 3.2vw 2vw;
}

#cetvrto #contact #right ul i {
  color: #f8f8f8;
  font-size: 5vw;
}

#cetvrto #contact #right #fb :hover {
  color: #3b5998;
}

#cetvrto #contact #right #ig :hover {
  color: #e22da6;
}

#cetvrto #contact #right #vib :hover {
  color: #751775;
}

#cetvrto #contact #right #wa :hover {
  color: #1bcc24;
}

#cetvrto #contact #right #git :hover {
  color: #000;
}

footer {
  background-color: #3e4841;
}

footer p {
  font-size: 2vw;
  margin: 3vw;
  font-weight: bold;
}

footer ul {
  font-size: 3vw;
}

footer ul li {
  margin: 2.5vw;
}

footer ul li i {
  color: #37ccf4;
}

@media screen and (max-width: 60.62em) {
  nav a {
    font-size: 2vw;
  }
  #prvo #about p {
    font-size: 2.5vw;
    margin: 2vw 0vw;
  }
  #drugo #skils .skup {
    width: 40vw;
    margin: 3vw 0vw;
  }
  #drugo #skils .skup .blok {
    font-size: 2.2vw;
    padding: 4vw 2vw;
  }
  #drugo #skils .skup .blok i {
    font-size: 4vw;
  }
  #drugo #skils .skup .overlay .text p {
    font-size: 12vw;
  }
  #trece #project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: center;
            flex-direction: center;
  }
  #trece #project .proj {
    margin: 3vw;
  }
  #trece #project .proj figcaption {
    font-size: 1.7vw;
  }
}

@media screen and (max-width: 50em) {
  #zaglavlje nav a {
    font-size: 3vw;
    margin: 1vw;
  }
  #zaglavlje header {
    left: 20vw;
    top: 20vw;
    padding: 5vw 2vw;
  }
  #zaglavlje header h1 {
    font-size: 4vw;
  }
  #zaglavlje header h1 #hi {
    font-size: 10vw;
  }
  .o {
    font-size: 4vw;
  }
  #prvo #about p {
    margin: 1vw 0vw;
    font-size: 2.6vw;
  }
  #drugo .blok p {
    font-size: 2.5vw;
  }
  .proj figcaption p {
    font-size: 2vw;
  }
  .proj figcaption .stil {
    font-size: 3vw;
  }
  #cetvrto td input::-webkit-input-placeholder, #cetvrto td textarea, #cetvrto td #poruka {
    font-size: 2.5vw;
  }
  #cetvrto td input:-ms-input-placeholder, #cetvrto td textarea, #cetvrto td #poruka {
    font-size: 2.5vw;
  }
  #cetvrto td input::-ms-input-placeholder, #cetvrto td textarea, #cetvrto td #poruka {
    font-size: 2.5vw;
  }
  #cetvrto td input::placeholder, #cetvrto td textarea, #cetvrto td #poruka {
    font-size: 2.5vw;
  }
  #cetvrto td #poruka {
    height: 30%;
  }
  #cetvrto #contact p {
    font-size: 2.7vw;
  }
}

@media screen and (max-width: 37.5em) {
  #zaglavlje {
    min-height: 30em;
  }
  #zaglavlje nav {
    padding: 3vw 0vw;
  }
  #zaglavlje nav a {
    font-size: 3.5vw;
  }
  #zaglavlje header {
    left: 17vw;
  }
  #prvo #about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: center;
            flex-direction: center;
  }
  #prvo #about figure img {
    width: 60vw;
  }
  #prvo #about p {
    width: 60vw;
    font-size: 4vw;
    margin-top: 7vw;
  }
  .proj figcaption p {
    font-size: 2.8vw;
  }
  .proj figcaption .stil {
    font-size: 4vw;
  }
  #cetvrto #contact #left #dugme {
    width: 15vw;
    font-size: 3vw;
  }
  #cetvrto #contact #right ul i {
    font-size: 8vw;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: center;
            flex-direction: center;
  }
  footer p {
    width: 100%;
    font-size: 3vw;
    text-align: center;
    margin-top: 0vw;
  }
  footer ul li {
    font-size: 4vw;
  }
}

@media screen and (max-width: 32.5em) {
  .o {
    font-size: 7vw;
    margin: 3vw 0vw;
  }
  #zaglavlje {
    min-height: 100vw;
  }
  #zaglavlje nav {
    display: none;
  }
  #zaglavlje #burger {
    display: block;
    position: fixed;
    right: 5px;
    top: 5px;
    z-index: 2;
  }
  #zaglavlje #burger #meni, #zaglavlje #burger #meni ul {
    list-style: none;
  }
  #zaglavlje #burger #meni li {
    float: right;
    margin-right: 3px;
    position: relative;
    z-index: 1;
  }
  #zaglavlje #burger #meni li i {
    font-size: 9vw;
  }
  #zaglavlje #burger #meni ul {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30vw;
    display: none;
  }
  #zaglavlje #burger #meni ul li {
    float: none;
    margin: 0;
    padding: 0;
    line-height: 15px;
    background-color: #1a1a1c;
    border: 1px solid #000;
  }
  #zaglavlje #burger #meni a:link, #zaglavlje #burger #meni a:visited {
    display: block;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    color: #37ccf4;
    padding: 5px;
  }
  #zaglavlje #burger #meni li:hover {
    background-color: #3e4841;
  }
  #zaglavlje #burger #meni li:hover ul {
    display: block;
  }
  #prvo #about p {
    font-size: 5vw;
  }
  #drugo #skils .skup {
    width: 70vw;
    margin: 3vw 0vw;
  }
  #drugo #skils .skup .blok p {
    font-size: 3.5vw;
  }
  #drugo #skils .skup .blok i {
    font-size: 5vw;
  }
  #drugo #skils .skup .blok h3 {
    font-size: 4vw;
  }
  #trece #project .proj {
    width: 80%;
  }
  #trece #project .proj figure img {
    width: 100%;
  }
  #trece #project .proj figcaption p {
    font-size: 4vw;
  }
  #cetvrto #contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: center;
            flex-direction: center;
  }
  #cetvrto #contact #left, #cetvrto #contact #right {
    width: 70%;
    margin: 5vw 0vw;
    text-align: center;
  }
  #cetvrto #contact #left p, #cetvrto #contact #right p {
    font-size: 4vw;
    padding: 3vw;
  }
  #cetvrto #contact #left input {
    height: 10vw;
    text-align: center;
    margin-left: 5vw;
  }
  #cetvrto #contact #left input::-webkit-input-placeholder {
    font-size: 4vw;
  }
  #cetvrto #contact #left input:-ms-input-placeholder {
    font-size: 4vw;
  }
  #cetvrto #contact #left input::-ms-input-placeholder {
    font-size: 4vw;
  }
  #cetvrto #contact #left input::placeholder {
    font-size: 4vw;
  }
  #cetvrto #contact #left #dugme {
    height: 10vw;
  }
  #cetvrto #contact #left #dugme i {
    font-size: 5vw;
  }
  footer ul li {
    margin: 4vw 6vw;
  }
  footer ul li i {
    font-size: 6vw;
  }
}

@media screen and (max-width: 29em) {
  #zaglavlje header {
    left: 10vw;
  }
}

@media screen and (max-width: 25em) {
  #zaglavlje header {
    width: 80vw;
    left: 5vw;
  }
  #zaglavlje header h1 {
    font-size: 8vw;
  }
  #zaglavlje header h1 #hi {
    font-size: 10vw;
  }
  #zaglavlje header h2 {
    font-size: 5vw;
  }
  .o {
    font-size: 10vw;
  }
  #prvo #about p {
    font-size: 6vw;
  }
  #drugo #skils .skup .blok p {
    font-size: 5vw;
  }
  #drugo #skils .skup .blok i {
    font-size: 7vw;
  }
  #drugo #skils .skup .blok h3 {
    font-size: 6vw;
  }
  #trece #project .proj figcaption p {
    font-size: 5vw;
  }
  #cetvrto #contact #left p, #cetvrto #contact #right p {
    font-size: 6vw;
  }
  #cetvrto #contact #left input::-webkit-input-placeholder {
    font-size: 5vw;
  }
  #cetvrto #contact #left input:-ms-input-placeholder {
    font-size: 5vw;
  }
  #cetvrto #contact #left input::-ms-input-placeholder {
    font-size: 5vw;
  }
  #cetvrto #contact #left input::placeholder {
    font-size: 5vw;
  }
  #cetvrto #contact #right ul i {
    font-size: 15vw;
    margin: 5vw;
  }
  footer p {
    font-size: 5vw;
    margin: 2vw;
  }
  footer ul li {
    margin: 5vw;
  }
  footer ul li i {
    font-size: 8vw;
  }
}
/*# sourceMappingURL=style.css.map */